/* .App {
  text-align: center;
} */

#heroCard {
  padding: 0;
  margin: 0;
  height: 301.5px;
}

#heroContainer {
  background-position: right center;
  background-size: auto;
  background-repeat: no-repeat;
  background-color: #deedd6;
  background-image: url('https://www.instacart.com/image-server/x428/www.instacart.com/assets/homepage/homepage_background_full_m3_cropped-8d2d286263821da7decd7c61fb1db1eb0e3dec13e0c356277d6d3cb7484c024a.jpg');
  width: 100%;
  min-height: 300px;
  position: relative;
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: 0 auto;
  margin-bottom: 32px;
  /* margin-top: 32px; */
}

#heroText {
  display: block;
  padding: 24px 0 24px 144px;
}

#heroH1Tag {
  display: block;
  font-size: 50px;
  line-height: 52px;
  font-weight: 730;
  color: #001810;
  margin: 0;
  width: 578px;
  unicode-bidi: isolate;
}

#heroPTag {
  display: block;
  font-size: 14px;
  line-height: 20px;
  font-weight: unset;
  color: #001810;
  margin: 16px 0 0 0;
}

#selectCountryWrap {
  display: block;
  position: absolute;
  top: 3.8em;
  padding-top: 24px;
  unicode-bidi: isolate;
}

#selectCountry {
  display: flex;
  background-color: #FFFFFF;
  border-radius: 8px;
  box-sizing: border-box;
  padding: 10px 12px;
  border: solid 1px #C7C8CD;
  align-items: center;
}

.e-e9cz0w {
  width: 25px;
  height: 25px;
  margin-right: 6px;
}

.e-1x2dz2i {
  background-image: url('https://www.instacart.com/assets/homepage/country-chooser-arrow-0a7eab6d692d69c95f6e81f06eca541be78ab5ef452ff14bd2bc1a7d1a9481c9.svg');
  appearance: none;
  border: none;
  width: 8px;
  height: 5px;
  text-indent: 8px;
  cursor: pointer;
  background-position: center;
  background-repeat: no-repeat;
  padding: 8px;
}

select {
  display: inline-block;
  text-align: start;
  margin: 0em;
  letter-spacing: normal;
  word-spacing: normal;
  line-height: normal;
  text-transform: none;
  text-shadow: none;
}

#locationForm {
  width: 35%;
  margin-left: 9em;
}

#backgroundWrap {
  background-color: #deedd6;
  background-repeat: none;
}

#NavBar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-left: 40px;
  padding-right: 40px;
  padding-top: 24px;
  padding-bottom: 24px;
  align-items: center;
  max-height: 80px;
  box-sizing: border-box;
  border-bottom: 1px solid #E8E9EB;
  background-color: #FFFFFF;
}

#logoPlusDropdown {
  display: flex;
  width: 87%;
  align-items: center;
  flex-direction: row;
}

#logInSignUpBtn {
  display: flex;
  flex-direction: row;
}

#logIn {
  margin-right: 10px;
}

#signUp {
  margin-left: 10px;
}

#browseStores {
  display: block;
  padding: 0 16px;
}

#browseStoresDiv {
  display: block;
  margin: 32px auto;
  max-width: 1152px;
  width: 100%;
}

#browseStoresH2 {
  font-size: 32px;
  line-height: 32px;
  font-weight: 800;
  margin-bottom: 16px;
  color: #343538;
  text-align: center;
}

#yourCity {
  color: #108910;
  cursor: pointer;
  outline: none;
  font-size: 32px;
  line-height: 32px;
}

#browseStoresGrid {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(700px, 1fr));
  width: 100%;
  /* max-width: 2100px; */
  gap: 24px;
  justify-content: center;
    padding: 8px 0 0 0;
    margin: 0;
    list-style-type: none;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
    unicode-bidi: isolate;
}

#ralphs {
  display: flex;
  flex-direction: row;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 2px 8px;
  border-radius: 12px;
  height: 100%;
  align-items: center;
  background: none;
  text-align: left;
  padding: 5px 0;
}

#ralphsImg {
  height: 70px;
  width: 70px;
  margin: 10px;
}

#costco {
  display: flex;
  flex-direction: row;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 2px 8px;
  border-radius: 12px;
  height: 100%;
  align-items: center;
  background: none;
  text-align: left;
  padding: 5px 0;
}

#costcoImg {
  height: 70px;
  width: 70px;
  margin: 10px;
}

#vons {
  display: flex;
  flex-direction: row;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 2px 8px;
  border-radius: 12px;
  height: 100%;
  align-items: center;
  background: none;
  text-align: left;
  padding: 5px 0;
}

#vonsImg {
  height: 70px;
  width: 70px;
  margin: 10px;
}

